<div class="flex flex-col">
  <div class="subtitle text-center">Передача заявки</div>
  <p class="mb-3">Выберите сотрудника:</p>
  <div class="table">
    <div class="table--head">
      <div class="table--head-item">ФИО сотрудника</div>
      <div class="table--head-item">e-mail</div>
    </div>
    <div
      class="table--row"
      (click)="selectPerson(item?.id)"
      *ngFor="let item of data"
      [class.table--row_active]="item?.id === selectedId"
    >
      <div class="table--row-item">{{item?.id}}</div>
      <div class="table--row-item">{{item?.fio}}</div>
      <div class="table--row-item">{{item?.email}}</div>
    </div>
  </div>
  <button class="self-center" color="primary" mat-raised-button (click)="transfer()">Передать</button>

</div>
