.admin-menu {
  display: flex;

  &--item {
    background-color: #f0f0f0;
    border: 1px solid #9F9F9F;
    padding: 10px 20px;
    cursor: pointer;

    &:not(&:first-of-type):not(.admin-menu--item_active) {
      border-left-width: 0;
    }

    &:not(&:last-of-type):not(.admin-menu--item_active) {
      border-right-width: 0;
    }

    &_active {
      color: #2697FF;
      background-color: #ffffff;
      border: #2697FF 1px solid;
    }
  }
}
