<div class="subtitle position--subtitle mt-7">Физическое размещение</div>
<div (click)="add()" *ngIf="!isShowForm && !isReadonly" class="text-blue-400 cursor-pointer mt-2">
  &#43; Добавить физическое размещение
</div>


<div class="form" *ngIf="isShowForm && physicalLocation">

  <ng-container *ngIf="dictionaryService.dictionary$ | async as catalogData">
    <mat-form-field appearance="outline">
      <mat-label>Модель оборудования</mat-label>
      <input
        matInput
        type="text"
        placeholder="Выбрать тип"
        [disabled]="isDisabledForm  || isReadonly"
        [(ngModel)]="physicalLocation.machineModel"
      >
    </mat-form-field>

    <div class="form--row">
      <mat-form-field appearance="outline" class="dimensions">
        <mat-label>Габариты (Кол-во юнитов)</mat-label>
        <mat-select [(value)]="physicalLocation.amountUnit" [disabled]="isDisabledForm || isReadonly">
          <mat-option
            *ngFor="let item of amountUnit"
            [value]="item"
          >{{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Глубина</mat-label>
        <input matInput [(ngModel)]="physicalLocation.depth" type="number" [disabled]="isDisabledForm  || isReadonly">
      </mat-form-field>

    </div>

    <mat-form-field appearance="outline">
      <mat-label>Серийный номер</mat-label>
      <input
        matInput
        type="text"
        placeholder="Введите серийный номер"
        [(ngModel)]="physicalLocation.serialNumber"
        [disabled]="isDisabledForm  || isReadonly"
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Мнемоническое имя (hostname) оборудования</mat-label>
      <input
        [disabled]="isDisabledForm  || isReadonly"
        [(ngModel)]="physicalLocation.mnemonicMachineName"
        matInput
        required
        type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Инвентарный номер</mat-label>
      <input
        matInput
        type="text"
        placeholder="Введите инвентарный номер"
        [(ngModel)]="physicalLocation.inventoryNumber"
        [disabled]="isDisabledForm  || isReadonly"
      >
    </mat-form-field>

    <!--    <mat-form-field appearance="outline">-->
    <!--      <mat-label>Число фаз</mat-label>-->
    <!--      <mat-select [(value)]="physicalLocation.amountPhases" [disabled]="isDisabledForm || isReadonly">-->
    <!--        <mat-option-->
    <!--          *ngFor="let item of amountPhases"-->
    <!--          [value]="item"-->
    <!--        >{{item}}-->
    <!--        </mat-option>-->
    <!--      </mat-select>-->
    <!--    </mat-form-field>-->

    <mat-form-field appearance="outline">
      <mat-label>Кол-во подключений</mat-label>
      <mat-select [(value)]="physicalLocation.amountConnection" [disabled]="isDisabledForm || isReadonly">
        <mat-option
          *ngFor="let item of amountConnection"
          [value]="item"
        >{{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Тип подключения электропитания</mat-label>
      <mat-select
        [(value)]="physicalLocation.electricityConnectorType"
        [disabled]="isDisabledForm  || isReadonly"
        (valueChange)="service.validateData()"
      >
        <ng-container *ngIf="dictionaryService.dictionary$ | async as data">
          <mat-option
            *ngFor="let item of data.electricityConnectorTypes"
            [value]="item.id"
          >{{item.name}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <button
      *ngIf="isShowBtn"
      class="form--button mt-5"
      mat-raised-button
      color="primary"
      (click)="save()"
    >{{isDisabledForm ? 'Изменить' : 'Добавить'}}
    </button>
  </ng-container>
</div>


