<div class="flex flex-col">
  <p class="subtitle text-center">Добавить значение в справчоник “Сегмент”</p>

  <mat-form-field appearance="outline" class="mt-4 mb-4">
    <mat-label>Введите значение</mat-label>
    <input matInput type="text" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="mt-4 mb-4">
    <mat-label>Введите значение</mat-label>
    <input matInput type="text" [(ngModel)]="netboxName">
  </mat-form-field>

  <div class="flex justify-between">
    <button class="mr-1" mat-raised-button color="primary" (click)="save()">Сохранить</button>
    <button class="mr-1" mat-raised-button color="primary" (click)="cancel()">Отмена</button>
  </div>
</div>
