<div class="head middle-container">
  <div class="head--wrapper">

    <div class="head--wrapper-item">
      <p class="title">Заявка для резервирования ресурсов в ЦОД {{ id }}
        <strong class="ml-2" style="color: red">{{service.requestData$.getValue()?.status}}</strong>
      </p>
      <ng-container *ngIf="requestData$ | async as data">
        <button *ngIf="isAdmin && !data.respUserId" class="ml-3" color="primary" mat-raised-button (click)="inWork()">
          Взять в работу
        </button>
      </ng-container>
    </div>
    <div class="head-person">
      <div class="mr-2">Ответственный:</div>
      <ng-container *ngIf="requestData$ | async as data">
        <div class="font-bold flex mr-2">
          <div *ngIf="!data.respUserId">Не назначен</div>
          <div class="mr-2">{{data.respUserFio}}</div>
          <div>{{data.respUserEmail}}</div>
          <div></div>
        </div>
      </ng-container>

<!--      <button color="primary" mat-raised-button (click)="transfer()">Передать</button>-->
    </div>


  </div>

  <ng-container *ngIf="!isAdmin">
    <input
      type="file"
      name="file"
      accept=".csv"
      id="file-input"
      class="head--file-input"
      (change)="changedFile()"
      #fileInput
    >
    <label for="file-input" class="head--file-input-label">
      <svg class="file-input--icon">
        <use xlink:href="#upload"/>
      </svg>
      Загрузить файл
    </label>
  </ng-container>
</div>

<mat-tab-group animationDuration="0ms" dynamicHeight class="pb-8">
  <mat-tab label="Общее">
    <app-general></app-general>
  </mat-tab>

  <ng-container *ngIf="requestData$ | async as data">
    <mat-tab [label]="'Позиция ' + (i + 1)" *ngFor="let item of data.positions; let i = index">
      <app-position
        [position]="item"
      ></app-position>
    </mat-tab>
  </ng-container>

  <mat-tab label="Комментарии">
    <app-comments></app-comments>
  </mat-tab>
</mat-tab-group>

<mat-divider class="pb-8"></mat-divider>

<div class="flex justify-center pb-10">
  <ng-container *ngIf="!isAdmin">
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      *ngIf="canSave$ | async"
      [disabled]="!(service.isDataValid$ | async)"
    >Сохранить
    </button>
    <button
      class="search-btn"
      *ngIf="canSearch$ | async"
      mat-raised-button
      color="primary"
      (click)="search()"
      [disabled]="!(service.isDataValid$ | async)"
    >
      Осуществить поиск
    </button>
  </ng-container>
  <ng-container *ngIf="isAdmin && (disableAdminBtn$ | async)">
    <button
      mat-raised-button
      color="warn"
      (click)="reject()"
    >Отменить
    </button>
    <button
      class="search-btn"
      mat-raised-button
      color="primary"
      (click)="complete()"
    >
      Завершить
    </button>
  </ng-container>
</div>

