<div class="head middle-container">
  <div class="flex flex-col items-start">
    <p class="title">Заявка для резервирования ресурсов в ЦОД {{ id }}</p>
    <div *ngIf="isAdmin" class="head-person">
      <div class="mr-2">Ответственный:</div>
      <div class="font-bold mr-2">Иванов И.И. iiivanov@mail.ru</div>
      <button color="primary" mat-button (click)="transfer()">Передать</button>
    </div>
  </div>

  <ng-container *ngIf="!isAdmin">
    <input
      type="file"
      name="file"
      accept=".csv"
      id="file-input"
      class="head--file-input"
      (change)="changedFile()"
      #fileInput
    >
    <label for="file-input" class="head--file-input-label">
      <svg class="file-input--icon">
        <use xlink:href="#upload"/>
      </svg>
      Загрузить файл
    </label>
  </ng-container>
</div>

<mat-tab-group animationDuration="0ms" dynamicHeight class="pb-8">
  <mat-tab label="Общее">
    <app-general></app-general>
  </mat-tab>

  <ng-container *ngIf="requestData$ | async as data">
    <mat-tab [label]="'Позиция ' + (i + 1)" *ngFor="let item of data.positions; let i = index">
      <app-position
        [position]="item"
      ></app-position>
    </mat-tab>
  </ng-container>

  <mat-tab label="Комментарии">
    <app-comments></app-comments>
  </mat-tab>
</mat-tab-group>

<mat-divider class="pb-8"></mat-divider>

<div class="flex justify-center pb-10">
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="!(service.isDataValid$ | async)"
  >Сохранить
  </button>
  <button
    class="search-btn"
    *ngIf="isSaved"
    mat-raised-button
    color="primary"
    (click)="search()"
    [disabled]="!(service.isDataValid$ | async)"
  >
    Осуществить поиск
  </button>
</div>

