<div class="general p-4">
  <form class="general--form" [formGroup]="generalForm">
    <mat-form-field appearance="outline">
      <mat-label>Идентификатор проекта</mat-label>
      <input
        formControlName="idProject"
        matInput
        required
        type="text">

      <mat-error *ngIf="generalForm.controls['idProject'].hasError('required')">
        Обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Владелец сервиса / оборудования</mat-label>
      <input
        formControlName="owner"
        matInput
        required
        type="text">

      <mat-error *ngIf="generalForm.controls['owner'].hasError('required')">
        Обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Группа администраторов оборудования</mat-label>
      <input
        formControlName="administratorsGroup"
        matInput
        required
        type="text">

      <mat-error *ngIf="generalForm.controls['administratorsGroup'].hasError('required')">
        Обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Мнемоническое имя устанавливаемого оборудования</mat-label>
      <input
        formControlName="mnemonicName"
        matInput
        required
        type="text">

      <mat-error *ngIf="generalForm.controls['mnemonicName'].hasError('required')">
        Обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ссылки на корректировки бюджета</mat-label>
      <input
        formControlName="budgetLinks"
        matInput
        required
        type="text">

      <mat-error *ngIf="generalForm.controls['budgetLinks'].hasError('required')">
        Обязательное поле
      </mat-error>
    </mat-form-field>


  </form>
</div>
