<div class="general p-4">
  <form class="general--form" [formGroup]="generalForm">
    <mat-form-field appearance="outline">
      <mat-label>Идентификатор проекта</mat-label>
      <input
        formControlName="projectNumber"
        matInput
        required
        type="text"
        >
      <mat-error *ngIf="generalForm.controls['projectNumber'].hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="generalForm.controls['projectNumber'].hasError('maxlength')">
        Максимальное число символов 512
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Владелец сервиса / оборудования</mat-label>
      <input
        formControlName="serviceOwner"
        matInput
        required
        type="text"
      >
      <mat-error *ngIf="generalForm.controls['serviceOwner'].hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="generalForm.controls['serviceOwner'].hasError('maxlength')">
        Максимальное число символов 512
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Группа администраторов оборудования</mat-label>
      <input
        formControlName="adminGroup"
        matInput
        required
        type="text"
      >

      <mat-error *ngIf="generalForm.controls['adminGroup'].hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="generalForm.controls['adminGroup'].hasError('maxlength')">
        Максимальное число символов 512
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ссылки на корректировки бюджета</mat-label>
      <input
        formControlName="correctionBudgetLink"
        matInput
        required
        type="text"
      >
      <mat-error *ngIf="generalForm.controls['correctionBudgetLink'].hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="generalForm.controls['correctionBudgetLink'].hasError('maxlength')">
        Максимальное число символов 512
      </mat-error>
    </mat-form-field>
  </form>
</div>
