<div class="subtitle position--subtitle mt-7">Сетевые подключения</div>
<div (click)="add()" class="text-blue-400 cursor-pointer mt-2 mb-2
" *ngIf="!isReadonly">
  &#43; Добавить сетевое подключение
</div>

<ng-container *ngIf="networkConnections$ | async as data">
  <table mat-table [dataSource]="data" class="min-w-full">

    <ng-container matColumnDef="segment">
      <th mat-header-cell *matHeaderCellDef>Сегмент</th>
      <td mat-cell *matCellDef="let element"> {{element?.segment}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Тип</th>
      <td mat-cell *matCellDef="let element"> {{element?.type}} </td>
    </ng-container>

    <ng-container matColumnDef="speed">
      <th mat-header-cell *matHeaderCellDef>Скорость</th>
      <td mat-cell *matCellDef="let element"> {{element?.speed}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Количество</th>
      <td mat-cell *matCellDef="let element"> {{element?.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <div class="flex gap-4" *ngIf="!isReadonly">
          <button mat-icon-button color="warn" (click)="delete(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="edit(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="copy(i)">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>

<div *ngIf="service.selectedNetworkConnection && filters" class="flex flex-col mt-6 p-6">
  <mat-form-field appearance="outline">
    <mat-label>Сегмент</mat-label>
    <mat-select
      [disabled]="isReadonly"
      [(value)]="service.selectedNetworkConnection.segment">
      <mat-option
        *ngFor="let item of filters.segment"
        [value]="item.value"
      >{{item.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Тип</mat-label>
    <mat-select
      [disabled]="isReadonly"
      [(value)]="service.selectedNetworkConnection.type">
      <mat-option
        *ngFor="let item of filters.type"
        [value]="item.value"
      >{{item.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Скорость</mat-label>
    <mat-select
      [disabled]="isReadonly"
      [(value)]="service.selectedNetworkConnection.speed">
      <mat-option
        *ngFor="let item of filters.speed"
        [value]="item.value"
      >{{item.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-form-field appearance="outline" class="mr-8">
      <mat-label>Количество</mat-label>
      <input matInput
             [disabled]="isReadonly"
             [(ngModel)]="service.selectedNetworkConnection.quantity">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
  </div>
</div>
