<div class="flex-grow flex flex-col items-center justify-center" (keyup.enter)="onLogin()">
  <mat-form-field appearance="outline">
    <mat-label>Логин</mat-label>
    <input matInput [formControl]="login" required autofocus>
    <mat-error *ngIf="login.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Пароль</mat-label>
    <input matInput type="password" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="onLogin()"
  >Войти
  </button>
</div>
