th.mat-sort-header-sorted {
  color: black;
}

.table-container {
  position: relative;

  &--table {
    min-height: 200px;
  }

  table {
    width: 100%;
    td {
      cursor: pointer;
    }
  }

  &--shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.date-time {
  padding-left: 14px;
}

.request_new {
  background-color: #fff9cc;
}

.request_rejected {
  background-color: #ffe0f1;
}

.request_done {
  background-color: #c7f3e3;
}
