<div class="flex flex-col p-5">
  <div class="flex mb-2 items-center justify-between">
    <h3>СПИСОК ЗАЯВОК НА РЕЗЕРВИРОВАНИЕ РЕСУРСОВ ЦОД</h3>
    <button
      class="self-end mr-1"
      mat-raised-button
      routerLink="/request/add"
    >Создать заявку на резервирование
    </button>
  </div>
  <div class="table-container">
    <div class="table-container--shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <table mat-table
           [dataSource]="dataSource"
           matSort
           matSortActive="creationDate"
           matSortDirection="desc"
           class="mt-5 table-container--table"
    >
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата создания заявки</th>
        <td mat-cell *matCellDef="let row">
          <span>{{row.creationDate | date:'shortDate':'ru'}}</span>
          <span class="date-time">{{row.creationDate | date:'mediumTime':'ru'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="applicationNumber">
        <th mat-header-cell *matHeaderCellDef>Номер заявки</th>
        <td mat-cell *matCellDef="let row"> {{row.applicationNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>Пользователь</th>
        <td mat-cell *matCellDef="let row"> {{row.user}} </td>
      </ng-container>

      <ng-container matColumnDef="endReservationDate">
        <th mat-header-cell *matHeaderCellDef>Окончание срока резервирования</th>
        <td mat-cell *matCellDef="let row">
          <span>{{row.endReservationDate | date:'shortDate':'ru'}}</span>
          <span class="date-time">{{row.endReservationDate | date:'mediumTime':'ru'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="projectId">
        <th mat-header-cell *matHeaderCellDef>Идентификатор проекта</th>
        <td mat-cell *matCellDef="let row"> {{row.projectId}} </td>
      </ng-container>

      <ng-container matColumnDef="statusChangeDate">
        <th mat-header-cell *matHeaderCellDef>Дата изменения статуса</th>
        <td mat-cell *matCellDef="let row">
          <span>{{row.statusChangeDate | date:'shortDate':'ru'}}</span>
          <span class="date-time">{{row.statusChangeDate | date:'mediumTime':'ru'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Статус</th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[row.id]" ></tr>
    </table>

  </div>
  <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>
</div>
