<ng-container *ngIf="data$ | async as const">
    <div class="subtitle position--subtitle position--subtitle_shift mt-7">Оценка стоимости резервируемых ресурсов:</div>
    <div class="border position--wrap flex flex-col">
      <div class="flex justify-between">
        <span>Итого CAPEX</span>
        <span *ngIf="const.priceKapex"> {{const.priceKapex | number}} руб.</span>
        <span *ngIf="!const.priceKapex"> <span class="pr-3">&mdash;</span> руб.</span>
      </div>

      <div class="flex justify-between mt-2">
        <span>Итого OPEX</span>
        <span *ngIf="const.priceOpex"> {{const.priceOpex | number}} руб.</span>
        <span *ngIf="!const.priceOpex"> <span class="pr-3">&mdash;</span> руб.</span>
      </div>
    </div>
</ng-container>
