<div class="position p-4 middle-container">
<div class="position p-4" *ngIf="position">

  <div class="subtitle position--subtitle position--subtitle_shift">Запрос пользователя:</div>

  <mat-radio-group class="mb-8" [(ngModel)]="position.type" aria-label="Select an option">
    <mat-radio-button color="primary" [value]="positionTypeEnum.NEW_SETUP" class="mr-4"
                      [disabled]="isReadOnly$ | async">
      Установка
    </mat-radio-button>
    <mat-radio-button color="primary" [value]="positionTypeEnum.REPLACE_SETUP" [disabled]="isReadOnly$ | async">
      Замена
    </mat-radio-button>
  </mat-radio-group>

  <form action="" class="position--form flex flex-col mt-4" *ngIf="dictionaryService.dictionary$ | async as data">
    <mat-form-field appearance="outline">
      <mat-label>Целевой машзал</mat-label>
      <mat-select
        [(value)]="position.mashzal"
        required
        [disabled]="isReadOnly$ | async"
      >
        <mat-option
          *ngFor="let item of data.mashzals"
          [value]="item.id"
        >{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <app-network-connection
    class="pt-4"
    [networkConnections]="position?.networkConnections"

  >
  </app-network-connection>

  <app-physical-location
    class="pt-4"
    [physicalLocation]="position"
  ></app-physical-location>


  <app-estimating-cost class="pt-4"></app-estimating-cost>

  <app-search-results
    class="pt-4"
    *ngIf="(user.isUserNotAdmin && service.requestData$.getValue()?.status == 'DONE')
            || !user.isUserNotAdmin"
  ></app-search-results>
</div>
