<div class="position p-4">

  <div class="subtitle position--subtitle position--subtitle_shift">Запрос пользователя:</div>
  <form action="" class="position--form flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Целевой машзал</mat-label>
      <mat-select required>
        <mat-option value="one">ЦОД См22 машзал 261</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <app-network-connection class="pt-4"></app-network-connection>

  <app-physical-location class="pt-4"></app-physical-location>

  <app-estimating-cost class="pt-4"></app-estimating-cost>

  <app-search-results class="pt-4"></app-search-results>

</div>
