@import 'assets/style/tailwind';

body {
  min-height: 100vh;
}

.middle-container {
  max-width: 800px;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 14px;
}

.border {
  border: 1px solid #bababa;
}

tr.mat-header-row .mat-header-cell,
.table--header {
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  background-color: #F2F2F2;
}

.table {
  border: 1px solid #bababa;
  width: 100%;
  max-width: 900px;
  display: table;
}

.table--header {
  min-height: 40px;
  width: 100%;
  max-width: 900px;
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
  border-top: 1px solid #bababa;
}

.table--header-item {
  padding: 10px 20px;
  text-align: center;
}

.table--body {
  display: table-row;
  font-size: 16px;
}

.table--body-column {
  display: table-cell;
  padding: 10px 20px 16px 20px;

  &:not(&:last-of-type) {
    border-right: 1px solid #bababa;
  }
}

.table--body-column-elem {
  &:not(&:last-of-type) {
    margin-bottom: 12px;
  }
}

input.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
.mat-select-disabled div.mat-select-value {
  color: rgba(0,0,0,.75);
}

.mat-form-field-appearance-outline.mat-form-field-disabled label.mat-form-field-label {
  color: rgba(0,0,0,.6);
}
