@import 'assets/style/tailwind';

body {
  min-height: 100vh;
}

.subtitle {
  font-weight: bold;
}

tr.mat-header-row .mat-header-cell {
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  background-color: #F2F2F2;
}
